Body#Body {
	margin-top: 25px;
	margin-left: 100px;
}
.nbr-admin-suite {
	font-family:'Montserrat';
}
.nbr-admin-suite ul, .nbr-admin-suite .nbr-sub-menu li {
    list-style-type: none;
	margin: 0;
	padding: 0;
}

.nbr-admin-suite > .nbr-sub-menu > ul > li {
	padding: 0 4px 0 4px;
}

.nbr-admin-suite .nbr-upper-control-panel li, .nbr-admin-suite ul.actions li {
	display: inline;
}

.nbr-admin-suite ul.actions li {
	padding: 4px;
}
.nbr-admin-suite ul.actions {
	text-align: right;
}

.nbr-admin-suite div.default-action {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.nbr-admin-suite .nbr-control-panel li:hover {
	background-color:#666;
	cursor: pointer;
}

.nbr-admin-suite .nbr-sub-menu li:hover {
	background-color:#494949;
	cursor: pointer;
}

.nbr-admin-suite .nbr-sub-menu li img {
	width:25px;
	height: 25px;
}
  
.nbr-admin-suite .nbr-control-panel{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100px;
	background-color: #505050;
	-webkit-box-shadow: 8px 0 6px -6px black;
	-moz-box-shadow: 8px 0 6px -6px black;
    box-shadow: 8px 0 6px -6px black;
	padding-top: 25px;
	z-index: 999;
	line-height: 20px;
	text-align:center;
	text-transform: uppercase;
	color:#fff;
}
.nbr-admin-suite .nbr-control-panel span, .nbr-admin-suite .nbr-sub-menu span{
	font-size: 12px;
	font-weight: 400;
}
.nbr-admin-suite .nbr-control-panel li {
    padding-top: 15px;
	padding-bottom: 15px;
}

.nbr-admin-suite .nbr-control-panel li.selected, .nbr-admin-suite .nbr-sub-menu li.selected {
    background-color: #1f6fb3;
}


.nbr-admin-suite .nbr-control-panel img{
    margin-left: auto;
    margin-right: auto;
}

.nbr-admin-suite .nbr-control-panel .fa{
	display:block;
	font-size:30px;
}

.nbr-admin-suite .nbr-upper-control-panel {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e8501c;
    display: block;
    height: 25px;
    width: 100%;
    z-index: 1000;
	text-align:right;
}

.nbr-admin-suite .nbr-upper-control-panel li {
	padding:3px;
	font-family:'Montserrat';
	margin-left: 20px;
}

.nbr-admin-suite .nbr-upper-control-panel li:hover {
	background-color: #F4754A;
	cursor:pointer;
}

.nbr-admin-suite .nbr-upper-control-panel li span {
	font-family:'Montserrat';
	line-height: 25px
}


.nbr-admin-suite .nbr-sub-menu {
    position: fixed;
    top: 0;
    left: 99px;
    background-color: #3d3d3d;
    display:block;
    height: 100%;
    width: 200px;
	
    -webkit-box-shadow: 8px 0 6px -6px black;
	-moz-box-shadow: 8px 0 6px -6px black;
    box-shadow: 8px 0 6px -6px black;
	
	padding-top: 25px;
	z-index: 999;
	line-height: 20px;
	text-align:left;
	text-transform: uppercase;
	color:#fff
}

.nbr-admin-suite .module-list {
	overflow-x: hidden;
	overflow-y: auto;
}

.nbr-admin-suite-loading, .nbr-admin-suite-confirm {
	display:none;
}
.nbr-admin-suite-loading img {
	width:auto;
	height:90px;
	margin:5px;
}
.nbr-admin-suite-loading h2 {
	padding:0;
	margin:0;
}

.nbr-admin-suite-loading span {
	font-weight:400;
	font-size:12px;
}

.nbr-admin-suite-confirm img {width: auto;height: 90px;margin: 5px;float: left;}
.nbr-admin-suite-confirm h2 {position: relative;top: 4px; font-weight: 400;font-size: 15px;font-family: 'Montserrat';}
.nbr-admin-suite-confirm span {position: relative;top: 6px; font-weight: 400;font-size: 12px;font-family: 'Montserrat';}
.nbr-admin-suite-confirm p { padding: 0;margin: 0;}


.nbr-admin-suite .nbr-dialog {
	display:none;
	position: fixed;
	top:0;
	left:159px;
	height:100%;
	width: 450px;
	background-color: #1d1d1d;
	padding-top: 25px;
	padding-left:5px;
	text-align:left;
	opacity: 0.9;
	color:#000;
}

.nbr-admin-suite .nbr-dialog label {
	display:block;
	color: #fff;
}

.nbr-admin-suite .nbr-dialog input, .nbr-admin-suite .nbr-dialog select {
	width: 95%;
	margin-left: 10px;
	color: #000;
}

.nbr-admin-suite .nbr-dialog button {
	margin-top:20px;
}

.nbr-admin-suite .nbr-dialog h2 {
	font-size: 30px;
	font-family:'Montserrat';
	color: #fff;
}

.nbr-admin-suite .nbr-dialog li:hover {
	background-color:#1d1d1d;
	cursor: default;
}

.nbr-admin-suite .default-action {position: fixed;bottom:0;}


.nbr-admin-suite .nbr-dialog li.single-line label {
	display:inline;
}

.nbr-admin-suite .nbr-dialog li.single-line input, .nbr-admin-suite .nbr-dialog li.single-line select {
	width:auto;
}